{% extends "general/index.html" %}

{% block title %}<title>Strona główna</title>{% endblock %}

{% block content %}
<div class="content">
    <div class="alert -a-bit-darker" style="margin: 0">
        <h1>Cześć!</h1>

        <p>
            <span class="tag-app-name">Witaj Scrap 1.0</span> Witaj w aplikacji internetowej, pomagającej
            <b>Ci</b> trzymać rękę na pulsie w twojej firmie recyklingowej.
        </p>

        <p>
            <span class="tag-app-name">"Scrap 1.0"</span> ma za zadanie pomóc <b>Ci</b> gromadzić informacje na
            temat zasobów jakie posiadasz w firmie, oraz pomóc Ci organizować pracę.
        </p>

        <p>
            Miej na uwadze, że aplikacja jest w stanie <b class="color-red">Pre-Alpha</b>, co oznacza, że może być
            niestabilna lub nie wszystkie funkcjonalności mogą być dostępne.
        </p>
    </div>
</div>
{% endblock %}