{% extends "general/index.html" %}

{% block title %}<title>Strona główna</title>{% endblock %}

{% block content %}
<div class="content">
    <div class="alert -a-bit-darker" style="margin: 0">
        <h1>Cześć!</h1>

        <p>
            <span class="tag-app-name">Scrap 1.0</span> To aplikacja pomagająca organizować Ci pracę w Twojej firmie recyklingowej.
        </p>

        <p>
            <span class="tag-app-name">"Scrap 1.0"</span> ma za zadanie pomóc <b>Ci</b> gromadzić informacje na
            temat zasobów, jakie posiadasz, oraz ułatwić Ci organizację pracy.
        </p>
    </div>
</div>
{% endblock %}